<!--featured post-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width:100%">
        <img class="card-img-top" width="300px" src="img/featured1.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width:100%">
        <img class="card-img-top" width="300px" src="img/featured2.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width:100%">
        <img class="card-img-top" width="300px" src="img/featured3.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <!-- older posts-->
  <button type="button" class="btn btn-primary">
    Older posts <span class="badge badge-light">4</span>
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>This Too Shall Pass</td>
        <td>Milena Busquets</td>
        <td>Love</td>
        <td>*****/5</td>
      </tr>
      <tr>
        <td>This Too Shall Pass</td>
        <td>Milena Busquets</td>
        <td>Love</td>
        <td>*****/5</td>
      </tr>
      <tr>
        <td>This Too Shall Pass</td>
        <td>Milena Busquets</td>
        <td>Love</td>
        <td>*****/5</td>
      </tr>
    </tbody>
  </table>
</div>
