{% extends "layout.html" %}
{% block alertmessage %}
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search results</li>
  </ol>
</nav>
<div class="card">

  <div class="card-body">
    <p class="card-text">Here are the results for your search.</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">ISBN</th>
        </tr>
      </thead>
      <tbody>
    {% for result in results %}
    <tr>
      <td><a href="{{ url_for('view_book', book_id=result.id) }}">{{result.title}}</a></td>
      <td>{{result.author}}</td>
      <td>{{result.isbn}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  </div>
</div>
{% endblock %}
